apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./namespace.yaml       
  - ./etl4-master-0-baremetal-host.yaml
  - ./etl4-master-1-baremetal-host.yaml
  - ./etl4-master-2-baremetal-host.yaml
  - ./etl4-master-0-nmstate-config.yaml
  - ./etl4-master-1-nmstate-config.yaml
  - ./etl4-master-2-nmstate-config.yaml   

helmGlobals:
  chartHome: ../../../../.helm-charts

helmCharts:      
  - name: bm-cluster-agent-install
    releaseName: etl4
    namespace: etl4
    valuesInline:
      clusterSet: default  
      location: oystein-lab
      workerNumber: 0
      imageSet: img4.20.14-x86-64-appsub
      mastersSchedulable: true
      skipDnsEndpoints: true
      sshKey: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCuvmmrAPF/axpjIrcJ6pdZ7Ale6XBOCUNanM0fTNOoY7emN/39PwZ7c4LQPvWI0MifjE0UgzuLSPwNGEeH/j8PM2Vy/Bp/h2r09rZ3ti8oaBgcV+UBafOd/85H6O/NMMSiGAubM9JUw0+z5q9yuESTZAPwGcp2gsgC1Ray5YZSIUcH7sSeZk0o6IOsZ8f08L4eiGwkTRZpZ20PRXKxATibxLz7cdzfm01G0ShizchaagOrbLaPXVN9s33L+kM+R4QfoWvhsUIroa3xzUp91n0QbNGj/hBO0OlXiPpitFQFx7F0AZi/ZuJiaYbTpiGlM0SwWPg1IT0a+E44q9gsRHKFuf5Ehpzm/sNb5+eAo0bSGivcwELEh1kzuWOsxPNMGS07I/r+vZ0PNu4fXB7oVH2Ox9hCIfNEsmH8BOK3fLsxp1Eg6QyTf1rKkFnw2iq4ZG/fyxwgPvdLbP24TRH5+fbqSp7EC9tZGKY2E8rRCufB82nbqR5bCChchRL8dmNipkc= root@cert-rhosp-01.lab.eng.rdu2.redhat.com
      networking:
        podCIDR: 10.136.0.0/14
        serviceCIDR: 172.32.0.0/16
        ingressVIP: "192.168.123.241"
        apiVIP: "192.168.123.240"      

  - name: cluster-registration
    releaseName: etl4
    namespace: etl4
    valuesInline:
      mtv_integration:
        enabled: false